<div>
  <form action="/file" method="POST" enctype="multipart/form-data">
    <label for="fileUpload">Select a file to scan : </label>
    <input type="file" name="fileUpload" id="fileUpload">
    <button type="submit">Envoyer</button>
  </form>
</div>